{% extends 'base.html.twig' %}

{% block content %}

    <div class="page-title-area title-img-one">
        <div class="title-shape">
            <img src="assets/images/banner/banner3.jpg" alt="Title">
            <img src="assets/images/banner/banner3.jpg" alt="Title">
        </div>
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="title-content">
                        <h2>A Propos</h2>
                        <ul>
                            <li>
                                <a href="{{ path('app_accueil') }}">Accueil</a>
                            </li>
                            <li>
                                <span>A Propos</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-area pt-100 pb-70">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-content">
                        <div class="section-title">
                            <span class="sub-title">A Propos des Elections</span>
                            <h2>Les elections <span>au Sénégal</span></h2>
                            <p> L'élection est la désignation, par le vote d'électeurs, de représentants (une personne,
                            un groupe, un parti politique) destinés à les représenter ou occuper une fonction en leur nom.

                            La population concernée transfère par le vote de sa majorité à des représentants ou mandants
                            choisis, la légitimité requise pour exercer le pouvoir attribué
                            (fonction censée être par ailleurs définie et orientée par le biais d'un programme politique).</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-img">
                        <img src="assets/images/banner/banner-bg2.jpg" alt="About">
                    </div>
                </div>
            </div>
        </div>
    </div>



    <section class="ideology-area pb-70">
        <div class="container">
            <div class="section-title">
                <span class="sub-title">Institutions</span>
                <h2>Choisir ses Representants</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur numquam magnam, sed perspiciatis mollitia nesciunt amet, consequuntur error culpa nobis dolore asperiores eum non quasi</p>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="ideology-item">
                        <img src="assets/images/ideology/palais.jpg" alt="Ideology">
                        <div class="bottom">
                            <h3>Elections Presidentielles</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="ideology-item">
                        <img src="assets/images/ideology/assemblee-nationale.jpg" alt="Ideology">
                        <div class="bottom">
                            <h3>Elections Legislatives</h3>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 offset-sm-3 offset-lg-0 col-lg-4">
                    <div class="ideology-item">
                        <img src="assets/images/ideology/marie.jpg" alt="Ideology">
                        <div class="bottom">
                            <h3>Elections Locales</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="counter-area pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="counter-item">
                        <img src="assets/images/counter-shape2.png" alt="Shape">
                        <h3>
                            <span class="odometer" data-count="7036466">00</span>
                        </h3>
                        <p>Electeurs</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="counter-item">
                        <img src="assets/images/counter-shape2.png" alt="Shape">
                        <h3>
                            <span class="odometer" data-count="6639">00</span>
                        </h3>
                        <p>Lieux Vote</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="counter-item">
                        <img src="assets/images/counter-shape2.png" alt="Shape">
                        <h3>
                            <span class="odometer" data-count="15066">00</span>
                        </h3>
                        <p>Bureaux de vote</p>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="counter-item">
                        <img src="assets/images/counter-shape2.png" alt="Shape">
                        <h3>
                            <span class="odometer" data-count="14">00</span>
                        </h3>
                        <p>Regions</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="counter-item">
                        <img src="assets/images/counter-shape2.png" alt="Shape">
                        <h3>
                            <span class="odometer" data-count="45">00</span>
                        </h3>
                        <p>Departements</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="counter-item">
                        <img src="assets/images/counter-shape2.png" alt="Shape">
                        <h3>
                            <span class="odometer" data-count="557">00</span>
                        </h3>
                        <p>Communes</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <section class="testimonials-area ptb-100">
        <div class="container">
            <div class="section-title">
                <span class="sub-title">Témoignage</span>
                <h2>Quelques Témoignages </h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur numquam magnam, sed perspiciatis mollitia nesciunt amet, consequuntur error culpa nobis dolore asperiores eum non quasi</p>
            </div>
            <div class="testimonials-slider owl-theme owl-carousel">
                <div class="testimonials-item">
                    <div class="top">
                        <i class="icofont-quote-right"></i>
                        <p>Il est démontré que lorsque les hommes et les femmes dirigent conjointement, les décisions qui sont prises reflètent mieux les différents besoins de la société, gage d’un développement durable.
                        </p>
                    </div>
                    <ul class="content align-items-center">
                        <li>
                            <img src="assets/images/team/michelle.jpg" alt="Testimonials">
                        </li>
                        <li>
                            <h3>Michelle Bachelet </h3>
                            <span>SG adjointe et Directrice exécutive d'ONU Femmes</span>
                            <ul class="rating">
                                <li>
                                    <i class="icofont-star checked"></i>
                                </li>
                                <li>
                                    <i class="icofont-star checked"></i>
                                </li>
                                <li>
                                    <i class="icofont-star checked"></i>
                                </li>
                                <li>
                                    <i class="icofont-star checked"></i>
                                </li>
                                <li>
                                    <i class="icofont-star checked"></i>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="testimonials-item">
                    <div class="top">
                        <i class="icofont-quote-right"></i>
                        <p>L’enjeu fondamental est non des moindres demeure également la représentation des
                            femmes et des jeunes dans l’hémicycle.</p>
                    </div>
                    <ul class="content align-items-center">
                        <li>
                            <img src="assets/images/testimonials2.jpg" alt="Testimonials">
                        </li>
                        <li>
                            <h3>Ndioro NDIAYE</h3>
                            <span>Presidente AMLD</span>
                            <ul class="rating">
                                <li>
                                    <i class="icofont-star checked"></i>
                                </li>
                                <li>
                                    <i class="icofont-star checked"></i>
                                </li>
                                <li>
                                    <i class="icofont-star checked"></i>
                                </li>
                                <li>
                                    <i class="icofont-star checked"></i>
                                </li>
                                <li>
                                    <i class="icofont-star checked"></i>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="testimonials-item">
                    <div class="top">
                        <i class="icofont-quote-right"></i>
                        <p> La participation politique active des femmes et des jeunes,est gage d'une démocratie inclusive et pacifique »
                        </p>
                    </div>
                    <ul class="content align-items-center">
                        <li>
                            <img src="assets/images/team/latif.jpg" alt="Testimonials">
                        </li>
                        <li>
                            <h3>Mr Latif DRAMANI</h3>
                            <span>Coordonnateur du CREFAT</span>
                            <ul class="rating">
                                <li>
                                    <i class="icofont-star checked"></i>
                                </li>
                                <li>
                                    <i class="icofont-star checked"></i>
                                </li>
                                <li>
                                    <i class="icofont-star checked"></i>
                                </li>
                                <li>
                                    <i class="icofont-star checked"></i>
                                </li>
                                <li>
                                    <i class="icofont-star checked"></i>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div class="subscribe-area pt-100 pb-70">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="subscribe-content">
                        <h2>Restez au courant des activites electorales et abonnez-vous !</h2>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="subscribe-item">
                        <form class="newsletter-form" data-toggle="validator">
                            <input type="email" class="form-control" placeholder="Enter Your Email" name="EMAIL" >
                            <button class="btn common-btn" type="submit">
                                S'inscrire
                                <i class="icofont-long-arrow-right"></i>
                            </button>
                            <div id="validator-newsletter" class="form-result"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}