{% extends 'base.html.twig' %}

{% block title %}Mon Compte {% endblock %}

{% block content %}
    <body>

    <div class="loader" style="display: none;">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="sub-loader"></div>
            </div>
        </div>
    </div>


    <div class="user-form-area ptb-100" style="height: 820px">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="form-item text-white">
                        <h2 class="text-white">Modifier mon mot de passe </h2>
                        {{ form(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="go-top">
        <i class="icofont-polygonal"></i>
        <i class="icofont-polygonal"></i>
    </div>

    </body>
{% endblock %}

