{% extends 'base.html.twig' %}

{% block banner %}
    <div class="banner-area-two three">
        <div class="banner-shape">

            <img src="assets/images/banner/banner-shape3.png" alt="Shape">
        </div>
        <div class="banner-slider owl-theme owl-carousel">
            <div class="banner-slider-item">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="banner-content">
                                <h1>Technologies de l’information pour la gestion des élections </h1>
                                <p>La civilisation démocratique est entièrement fondée sur l'exactitude de l'information. Si le citoyen n'est pas correctement informé, le vote ne veut rien dire.</p>
                                <a class="common-btn two" href="#">
                                    About Our Strategy
                                    <i class="icofont-long-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-img">
                    <img src="assets/images/banner/banner-main7.png" alt="Banner">
                </div>
            </div>
            <div class="banner-slider-item">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="banner-content">
                                <h1>La démocratie donne le droit de vote</h1>
                                <p>We invest in campaigns to enact reforms and elect candidates so that the right leaders have the right incentives to solve our country's greatest problems</p>
                                <a class="common-btn two" href="#">
                                    About Our Strategy
                                    <i class="icofont-long-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-img">
                    <img src="assets/images/banner/banner-main6.png" alt="Banner">
                </div>
            </div>
            <div class="banner-slider-item">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="banner-content">
                                <h1>L'adulte ne croit pas au père Noël. Il vote</h1>
                                <p>We invest in campaigns to enact reforms and elect candidates so that the right leaders have the right incentives to solve our country's greatest problems</p>
                                <a class="common-btn two" href="#">
                                    About Our Strategy
                                    <i class="icofont-long-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-img">
                    <img src="assets/images/banner/banner-main7.png" alt="Banner">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
