{% extends 'base.html.twig' %}
{% block footer %}
<footer class="footer-area two pt-100">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-logo">
                        <a class="logo" href="index.html">
                            <img src="assets/images/banner/logo.png" alt="Logo">
                        </a>
                        <p>Plateforme d'Iinformation Electorale au Sénégal.</p>
                        <ul>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="icofont-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="icofont-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="icofont-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="icofont-youtube-play"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="footer-item">
                    <div class="footer-contact">
                        <h3>Contact </h3>
                        <p>Notre adresse et nos numeros de telephones </p>
                        <ul>
                            <li>
                                <i class="icofont-location-pin"></i>
                                <a href="#">Rue 2 x 207 NGOR DIARAMA,<br/> BP 7295 Dakar, Sénégal</a>
                            </li>
                            <li>
                                <i class="icofont-ui-call"></i>
                                <a href="tel:+0015481592491">(+221) 77 734 82 89 </a>
                                <a href="tel:+1256548566523">(+221) 77 77 77 77 </a>
                            </li>
                            <li>
                                <i class="icofont-paper-plane"></i>
                                <a href="#mailto:hello@pily.com">infos@pies.sn</a>
                                <a href="#mailto:info@pily.com">contact@pies.sn</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <div class="footer-item">
                    <div class="footer-link">
                        <h3>Important Link</h3>
                        <ul>
                            <li>
                                <a href="about.php">
                                    <i class="icofont-simple-right"></i>A Propos
                                </a>
                            </li>
                            <li>
                                <a href="events.html">
                                    <i class="icofont-simple-right"></i>
                                    Agenda
                                </a>
                            </li>
                            <li>
                                <a href="blog.html">
                                    <i class="icofont-simple-right"></i>
                                    Actualites
                                </a>
                            </li>
                            <li>
                                <a href="faq.php">
                                    <i class="icofont-simple-right"></i>
                                    FAQ
                                </a>
                            </li>
                            <li>
                                <a href="donation.html">
                                    <i class="icofont-simple-right"></i>
                                    Legislations
                                </a>
                            </li>
                            <li>
                                <a href="privacy-policy.html">
                                    <i class="icofont-simple-right"></i>
                                    Contact
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="footer-item">
                    <div class="footer-events">
                        <h3>Actualites Recentes</h3>
                        <div class="footer-events-inner">
                            <ul class="align-items-center">
                                <li>
                                    <img src="assets/images/footer-events1.jpg" alt="Events">
                                    <span>16 Nov</span>
                                </li>
                                <li>
                                    <a href="events.html">Protest Against Of The Black Community</a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-events-inner">
                            <ul class="align-items-center">
                                <li>
                                    <img src="assets/images/footer-events2.jpg" alt="Events">
                                    <span>17 Nov</span>
                                </li>
                                <li>
                                    <a href="events.html">Media Coverage Of The Protesting Event</a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-events-inner">
                            <ul class="align-items-center">
                                <li>
                                    <img src="assets/images/footer-events3.jpg" alt="Events">
                                    <span>18 Nov</span>
                                </li>
                                <li>
                                    <a href="events.html">Protest Against Inhuman Activities In City</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area two">
        <div class="container">
            <p>Copyright ©2021 Pily. Designed By <a href="https://hibootstrap.com/" target="_blank">HiBootstrap</a></p>
        </div>
    </div>
</footer>

<div class="go-top two">
    <i class="icofont-polygonal"></i>
    <i class="icofont-polygonal"></i>
</div>

{% endblock %}